<a href="https://colab.research.google.com/github/Isaac-Gathere/DATA-SCIENCE/blob/main/Data%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Project on Global SuperStore Data**

In [23]:
import pandas as pd
import numpy as np

In [24]:
pd.set_option ('display.min_row',1000)
pd.set_option ('display.max_columns',50)
pd.set_option ('display.max_colwidth',1000)

In [25]:
data_df = pd.read_csv('/content/global_superstore_2016.csv',encoding = 'latin1')

In [26]:
data_df.describe ()

             Row ID   Postal Code      Quantity      Discount  Shipping Cost
count  12254.000000   2087.000000  12253.000000  12253.000000   12253.000000
mean   23929.774604  54671.545759      4.384232      0.109656      75.603073
std    13676.683875  32710.364475      2.522848      0.170637      88.764426
min        8.000000   1841.000000      1.000000      0.000000       1.040000
25%    12943.750000  21044.000000      2.000000      0.000000      30.300000
50%    23255.500000  59405.000000      4.000000      0.000000      47.670000
75%    34300.750000  90008.000000      6.000000      0.200000      86.898000
max    51284.000000  99207.000000     14.000000      0.850000     923.630000

In [27]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12254 entries, 0 to 12253
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          12254 non-null  int64
 1   Order ID        12254 non-null  object
 2   Order Date      12254 non-null  object
 3   Ship Date       12253 non-null  object
 4   Ship Mode       12253 non-null  object
 5   Customer ID     12253 non-null  object
 6   Customer Name   12253 non-null  object
 7   Segment         12253 non-null  object
 8   Postal Code     2087 non-null   float64
 9   City            12253 non-null  object
 10  State           12253 non-null  object
 11  Country         12253 non-null  object
 12  Region          12253 non-null  object
 13  Market          12253 non-null  object
 14  Product ID      12253 non-null  object
 15  Category        12253 non-null  object
 16  Sub-Category    12253 non-null  object
 17  Product Name    12253 non-null  object
 18  Sales           12253 non-null  object
 19  Quantity        12253 non-null  float64
 20  Discount        12253 non-null  float64
 21  Profit          12253 non-null  object
 22  Shipping Cost   12253 non-null  float64
 23  Order Priority  12253 non-null  object
dtypes: float64(4), int64(1), object(19)
memory usage: 2.2+ MB

In [28]:
# Converting the column Order Date and ship date to a datetime object
order_date = data_df['Order Date'].tolist()
ship_date = data_df['Ship Date'].tolist()

In [29]:
order_datetime = pd.to_datetime (order_date)
order_datetime

DatetimeIndex(['2014-11-11', '2014-02-05', '2014-10-17', '2014-01-28',
               '2014-11-05', '2014-06-28', '2012-11-06', '2013-04-14',
               '2014-11-11', '2012-03-06',
               ...
               '2013-10-29', '2014-06-07', '2012-09-20', '2015-02-24',
               '2015-11-07', '2014-06-07', '2014-09-20', '2012-08-10',
               '2015-05-03', '2014-09-30'],
              dtype='datetime64[ns]', length=12254, freq=None)

In [30]:
ship_datetime = pd.to_datetime(ship_date)
ship_datetime

DatetimeIndex(['2014-11-13', '2014-02-07', '2014-10-18', '2014-01-30',
               '2014-11-06', '2014-07-01', '2012-11-08', '2013-04-18',
               '2014-11-13', '2012-03-07',
               ...
               '2013-11-03', '2014-06-08', '2012-09-20', '2015-03-02',
               '2015-11-12', '2014-06-08', '2014-09-22', '2012-08-13',
               '2015-05-03',        'NaT'],
              dtype='datetime64[ns]', length=12254, freq=None)

In [31]:
# converting datetime to series objects
order_date = pd.Series(order_datetime,name='Order Date')
# order_date
ship_date = pd.Series(ship_datetime,name='Ship Date')

In [32]:
data_df.columns.values

array(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Postal Code', 'City',
       'State', 'Country', 'Region', 'Market', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'], dtype=object)

In [33]:
# droping unwanted columns
data_df.drop(columns =['Row ID','Order Date','Ship Date', 'Customer ID', 'Postal Code'], inplace = True)

In [34]:
global_data = pd.concat([data_df, order_date, ship_date], axis = 1)

In [35]:
global_data = global_data.reindex(columns=['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Postal Code', 'City',
       'State', 'Country', 'Region', 'Market', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'])

In [36]:
if global_data['Sales'].str.contains('$').any ():
  print("Yes: $ Symbol is Present in the Column Sales")

Yes: $ Symbol is Present in the Column Sales

In [37]:
if global_data['Profit'].str.contains('$').any ():
  print("Yes: $ Symbol is Present in the Profit ")

Yes: $ Symbol is Present in the Profit

In [43]:
# clean the columns
global_data['Sales'] = global_data ['Sales'].str.replace(',', '', regex = True)
global_data['Sales'][:10]

0     $221.98
1    $3709.40
2    $5175.17
3    $2892.51
4    $2832.96
5    $2862.68
6    $1822.08
7    $5244.84
8     $341.96
9      $48.71
Name: Sales, dtype: object

In [44]:
global_data['Sales'] = global_data['Sales'].str.replace('$','',regex=True)
global_data['Sales'][:10]

0     221.98
1    3709.40
2    5175.17
3    2892.51
4    2832.96
5    2862.68
6    1822.08
7    5244.84
8     341.96
9      48.71
Name: Sales, dtype: object

In [45]:
global_data['Profit'] = global_data ['Profit'].str.replace(',', '', regex = True)
global_data['Profit'][:10]

0      $62.15
1    ($288.77)
2     $919.97
3     ($96.54)
4     $311.52
5     $763.28
6     $564.84
7     $996.48
8      $54.71
9       $5.48
Name: Profit, dtype: object

In [46]:
global_data['Profit'] = global_data ['Profit'].str.replace('$', '', regex = True)
global_data['Profit'][:10]

0      62.15
1    (288.77)
2     919.97
3     (96.54)
4     311.52
5     763.28
6     564.84
7     996.48
8      54.71
9       5.48
Name: Profit, dtype: object

In [47]:
global_data['Profit'] = global_data ['Profit'].str.replace('(', '', regex = True)
global_data['Profit'][:10]

0     62.15
1    288.77)
2    919.97
3     96.54)
4    311.52
5    763.28
6    564.84
7    996.48
8     54.71
9      5.48
Name: Profit, dtype: object

In [48]:
global_data['Profit'] = global_data ['Profit'].str.replace(')', '', regex = True)
global_data['Profit'][:10]

0     62.15
1     288.77
2    919.97
3      96.54
4    311.52
5    763.28
6    564.84
7    996.48
8     54.71
9      5.48
Name: Profit, dtype: object

In [49]:
global_data['Profit'] = pd.to_numeric(global_data['Profit'], downcast = 'signed')
global_data['Profit'][:10]

0     62.15
1    288.77
2    919.97
3     96.54
4    311.52
5    763.28
6    564.84
7    996.48
8     54.71
9      5.48
Name: Profit, dtype: float64

In [50]:
global_data['Sales'] = pd.to_numeric(global_data['Sales'], downcast = 'integer')
global_data['Sales'][:10]

0     221.98
1    3709.40
2    5175.17
3    2892.51
4    2832.96
5    2862.68
6    1822.08
7    5244.84
8     341.96
9      48.71
Name: Sales, dtype: float64

# First Question to be answered
# shipping cost above 500

In [55]:
condition1 = (global_data['Shipping Cost'] > 500.00 )
# condition1
shipping_500 = global_data[condition1]
len(shipping_500)

97

## Count the number of segments, countries, regions, markets, categories, and sub categories present in the data

In [58]:
# the number of segments
global_data['Segment'].value_counts()

Consumer       6392
Corporate      3692
Home Office    2169
Name: Segment, dtype: int64

In [61]:
# Country
len (global_data['Country'].value_counts())

149

In [64]:
# Region

print(global_data['Region'].value_counts())

Western Europe       1734
Central America      1249
Oceania              1037
Southeastern Asia     842
Eastern Asia          813
Southern Asia         761
Western US            681
South America         675
Eastern US            635
Southern Europe       604
Northern Europe       604
Central US            453
Caribbean             373
Southern US           318
Eastern Europe        314
Western Asia          306
North Africa          227
Western Africa        168
Central Africa        143
Eastern Africa        124
Southern Africa       109
Canada                 63
Central Asia           20
Name: Region, dtype: int64

In [ ]:
print(len(global_data['Region'].value_counts()))

In [66]:
# Market

print(global_data['Market'].value_counts())

Asia Pacific    3779
Europe          3256
LATAM           2297
USCA            2150
Africa           771
Name: Market, dtype: int64

In [68]:
print(len((global_data['Market'].value_counts())))

5

In [71]:
# Category
print(((global_data['Category'].value_counts())))

print("total category is ", (len((global_data['Category'].value_counts()))))

Technology         4400
Office Supplies    3952
Furniture          3901
Name: Category, dtype: int64
total category is  3